.BottomHalf--canvas{
    border:3px black solid;
    border-radius: 15px;
    position:relative;
    z-index: 1;
}

.BottomHalf--Keyboard__Key{
    border:transparent 1px solid;
    background-color: rgb(219, 219, 219);
    margin:.25%;
    font-family: inherit;
    font-size:1.25rem;

}

.BottomHalf--Keyboard__Key:hover{
    border:red dashed 1px;
    transform:scale(120%);
}

.BottomHalf--Keyboard__Row{
    display:flex;
    justify-content: center;
    margin-top:.5%;
}

.BottomHalf--Keyboard{
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    width:75%;
}

.BottomHalf--Keyboard__Key__Dark{
    background-color: rgb(195, 195, 195);
}
.BottomHalf--Keyboard__Key__Space{
    padding: 0 15%;
}

.BottomHalf--Keyboard__Key__Darker{
    background-color: rgb(154, 154, 154);
}

.BottomHalf--Toolbox{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    margin-left:2%;
}

.bottomHalf--Input-Section{
    display:flex;
    flex-flow:row nowrap;
    margin-left:19%;
}