.card{
    background-color:white;
    box-shadow: 0 0 5px black;
    border:black 2px solid;
    width:50%;

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

    height:40vw;
}