#output-section{
    overflow:hidden;
    overflow-y:scroll;
    height:64%;
    width: var(--card-width);
}

.output-section__image{
    border: 3px black solid;
    border-radius: 15px;
    z-index:2;
    position:relative;
}

.output-section__image__wrapper{
    margin-left:var(--toolbar-width);
}

.output-section__p{
    margin-left:var(--toolbar-width);
    background-color:black;
    color:white;
    border-radius: 12.5px;
    padding-left:2%;
    width:calc(var(--canvas-width) - 1%);
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.output-section__p > *{
    display:inline-block;
}

.output-section__p__yellow{
    color:yellow;
    margin-right:2%;
    /* text-decoration:double; */
}

.OutputSection--item{
    margin-top:1.5%;
}