.toolbar__button--selected{
    border:black 2px solid;
}
.toolbar__button{
    user-select: none;
}
#toolbar{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    width:var(--toolbar-width);
}