.toolbar__button--selected{
    border:black 2px solid;
}
.toolbar__button{
    background-color:none;
    border:none;
}
.toolbar__button:hover{
    filter: brightness(110%);
    cursor: pointer;
}
#toolbar{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    width:var(--toolbar-width);
}

.toolbar__img{
    width:35px;
}