.UsernameCanvasOverlay--username{
    background-color: palevioletred;
    padding:2%;
    border:pink 3px solid;
    margin: -3px 0 0 -3px;
    width:fit-content;

    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

    text-overflow: ellipsis;
    overflow: hidden;
    max-width:50%;
    pointer-events: none;
}

.UsernameCanvasOverlay{
    position:absolute;
    left:.75%;
    top:1.5%;
    z-index: 1;
    width:98%;
    height:91.25%;
    border:4px pink solid;
    pointer-events: none;
    border-radius: 12px;

}

.UsernameCanvasOverlay__wrapper{
    position:relative;
    width:var(--canvas-width);
}