:root{
    --toolbar-width:100px;
    --canvas-width:400px;
    --card-width:550px;
    --canvas-height:200px;

    user-select: none;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}