#holder{
    margin-left:50%;
    transform:translateX(-50%);
    height:100dvh;
}

#input-section{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;

    width: var(--card-width);
}

/* BIG STYLES */

body{
    overflow: hidden;
}